body {
    background-color:darkblue;
}

.moon {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index: 3;
}

.star {
    background-color:black;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-left: 500px;
    z-index: 4;
}


@media (max-width:900px) {
    
.example-class {
    margin: 0 auto !important;
    padding: 0 !important;
}
}

.flex-container {
   display: flexbox;
   margin-top: 500px;
}

.flex-container > div {
    background-color: bisque;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
  }

  h2 {
    color: aliceblue;
  }