body {
    background-color: black;
}

.moon {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.star {
    background-color: white;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-left: 500px;
}




.flex-container {
   display: flexbox;
   margin-top: 500px;
}

.flex-container > div {
    background-color: bisque;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
  }

  h2 {
    color: aliceblue;
  }